$color-main: lightgrey;
$icons-color: #3b5998;
$info-color: #fff;

@mixin my_card_one{
  width: calc(100% / 3 - 20px);
  height: auto;

}

@mixin my_card_two{
  width: calc(100% / 2);
  height: 350px;
}

@mixin my_container{
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
}


@mixin btn{
  padding: 10px 15px;
  text-decoration: none;
  border: 3px solid black;
}

@mixin btn2{
  padding: 10px 15px;
  text-decoration: none;
  border: none;
  background-color: #fff;
  margin-top: 30px;
}

@mixin cardWhitTex{
  color: #fff;
  padding: 60px;


  h3{
    text-align: left;
    font-size: 35px;
    font-weight:normal;
    margin-top: 20px;
    padding: 0;
  }

  button{
    @include btn2;
  }

  p{
    font-size: 18px;
    margin-top: 30px;
  }
}
